{% load static %}
<div class="testimonial-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto text-center">
						<h2 class="section-title">Testimonials</h2>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="testimonial-slider-wrap text-center">

							<div id="testimonial-nav">
								<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
								<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
							</div>

							<div class="testimonial-slider">
								
								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;I purchased a dining chair set from Furni and was impressed by the quality. The delivery was quick, and the chairs look exactly as shown.&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="{% static 'images/person_4.jpg' %}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Priya Sharma</h3>
													<span class="position d-block mb-3">Interior Designer, Ahmedabad</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;Excellent customer service and premium furniture. The sofa exceeded my expectations and was very easy to assemble.&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="{% static 'images/person_3.jpg' %}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Rahul Patel</h3>
													<span class="position d-block mb-3">Software Engineer, Bengaluru</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;Beautiful designs and competitive prices. I will definitely shop here again for my home office furniture.&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="{% static 'images/person3.jpeg' %}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Sneha Iyer</h3>
													<span class="position d-block mb-3">HR Manager, Pune</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>