{% load static %}
<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Why Choose Furni ?</h2>
						<p>At Furni, we believe great furniture should combine comfort, quality, and timeless design. Every product is carefully selected to help you create a home that's both functional and beautiful.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/truck.svg' %}" alt="Image" class="img-fluid">
									</div>
									<h3>Fast &amp; Secure Delivery</h3>
									<p>We deliver premium furniture across the country with secure packaging and timely shipping.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/bag.svg' %}" alt="Image" class="img-fluid">
									</div>
									<h3>Quality Craftsmanship</h3>
									<p>Every product is carefully selected to ensure durability, comfort, and modern design.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/support.svg' %}" alt="Image" class="img-fluid">
									</div>
									<h3>Customer Support</h3>
									<p>Our support team is available to assist you before and after your purchase.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/return.svg' %}" alt="Image" class="img-fluid">
									</div>
									<h3>Easy Returns</h3>
									<p>Enjoy a simple return process for eligible products with customer-friendly policies.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="{% static 'images/why-choose-us-img.jpg' %}" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>