{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="
                alert
                {% if message.tags == 'error' %}
                    alert-danger
                {% elif message.tags == 'success' %}
                    alert-success
                {% elif message.tags == 'warning' %}
                    alert-warning
                {% else %}
                    alert-info
                {% endif %}
            ">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}


<div class="untree_co-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">My Orders</h2>
                <p class="text-muted">
                    View and track all your orders in one place.
                </p>
            </div>
        </div>

        <div class="table-responsive">

            <table class="table table-hover align-middle border">

                <thead style="background-color: #3b5d50; color: white;">
                    <tr>
                        <th class="py-3">Order ID</th>
                        <th class="py-3">Order Date</th>
                        <th class="py-3">Amount</th>
                        <th class="py-3">Payment</th>
                        <th class="py-3">Status</th>
                        <th class="py-3 text-center">Action</th>
                        <th class="py-3 text-center">Action</th>
                        <th class="py-3">Invoice</th>
                    </tr>

                </thead>

                <tbody>

                    {% for i in orderdata %}

                    <form method="POST">
                        <input type="hidden" name="orderid" value="{{i.id}}">

                    </form>

                    <tr>

                        <td>
                            <strong>#{{ i.id }}</strong>
                        </td>

                        <td>
                            {{ i.created_at|date:"d M Y" }}
                        </td>

                        <td>
                            <strong>₹{{ i.totalpayment }}</strong>
                        </td>

                        <td>
                            {{ i.payment.payment_method }}
                        </td>

                        <td>

                            {% if i.status == "pending" %}
                                <span class="badge bg-warning text-dark px-3 py-2">
                                    pending
                                </span>

                            {% elif i.status == "confirmed" %}
                                <span class="badge bg-primary px-3 py-2">
                                    Confirmed
                                </span>

                            {% elif i.status == "shipped" %}
                                <span class="badge bg-info px-3 py-2">
                                    Shipped
                                </span>

                            {% elif i.status == "delivered" %}
                                <span class="badge bg-success px-3 py-2">
                                    Delivered
                                </span>

                            {% elif i.status == "canceled" %}
                                <span class="badge bg-danger px-3 py-2">
                                    canceled
                                </span>

                            {% else %}
                                <span class="badge bg-secondary px-3 py-2">
                                    {{ i.status }}
                                </span>
                            {% endif %}

                        </td>

                        <td class="text-center">

                             <form action="{% url 'myorderdetail' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="order_id" value="{{i.id}}">

                                            <button type="submit"
                                                    class="btn btn-black btn-sm"
                                                   >
                                                View Details
                                            </button>                                
                                </form>
                            
                        </td>
                        <td class="text-center">

                           {% if i.status == "pending" %}
                                <form action="{% url 'cancel_order_user' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="order_id" value="{{i.id}}">

                                            <button type="submit"
                                                    class="btn btn-sm"
                                                    style="background-color:#dc3545;color:white;border:none;">
                                                Cancel 
                                            </button>                                
                                </form>
                           {% endif %}

                        </td>
                        <td><a href="{% url 'invoice' i.id %}"
                            class="btn btn-sm btn-success">

                                <i class="bi bi-receipt"></i>

                                Invoice

                            </a>
                        </td>

                    </tr>

                    {% empty %}

                    <tr>

                        <td colspan="6" class="text-center py-5">

                            <h5>No Orders Found</h5>

                            <p class="text-muted">
                                Start shopping to see your orders here.
                            </p>

                            <a href="{% url 'shop' %}"
                               class="btn btn-black">
                                Continue Shopping
                            </a>

                        </td>

                    </tr>

                    {% endfor %}

                    

                </tbody>

            </table>

        </div>

    </div>
</div>
{% endblock %}